.reminderRoot.reminderRoot {
  padding: 0 3px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  align-items: flex-start;
}

.reminderTime {
  font-weight: 100;
  margin-right: 5px;
}

.reminderText {
  word-break: break-word;
}