.table-root {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.cell {
  flex-basis: 14.2%;
  min-height: 80px;
  border: 1px solid black;
}

.root {
  min-width: 275px;
}

.title {
  font-size: 18;
}

.pos {
  margin-bottom: 12;
}

.formActions {
  display: flex;
  flex-direction: column;
}

.colorPreview {
  width: 15px;
  height: 15px;
  border: 1px solid white;
}