.calendarHeader {
  display: flex;
  padding: 20px;
}

.calendarHeader h4 {
  margin-left: 20px;
  color: #757575;
}

.row {
  display: flex;
}

.headerCell {
  flex-basis: 14.2%;
  background-color: #51c6ff;
  text-align: center;
  border: 1px solid #d2d2d2;
}

.cell {
  flex-basis: 14.2%;
  height: 150px;
  border: 1px solid #d2d2d2;
}

.weekendCell {
  background-color: #e8e8e8;
}

.root {
  min-width: 275px;
}

.title {
  font-size: 18;
}

.formActions {
  display: flex;
  flex-direction: column;
}

.formDateWrapper > div:first-child {
  margin-right: 10px
}

.colorPreview {
  width: 15px;
  height: 15px;
  border: 1px solid white;
}